body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: rgb(9, 20, 110);
}

a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
a:hover,
a:active {
  font-size: larger;
  color: white;
}

.titles {
  text-align: center;
  color: white;
  margin: 0.1rem 1rem;
}

.btc-span {
  font-weight: bold;
}

.card {
  margin: 1rem;
  padding: 1rem;
}

label {
  font-weight: bold;
}

.form-control,
.form-select {
  border: 1px solid black;
}

.input:hover,
.select:hover,
.form-select:hover,
.form-control:hover,
.form-control:focus,
.form-control:active,
.form-select:focus,
.form-select:active {
  border-color: orange;
  box-shadow: inset 0px 0px 0px orange, 0 0 0px orange;
}

button {
  margin-top: 1.3rem;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0px 2px rgb(206, 202, 202);
}

.result-container,
.more-container,
.btc-container {
  border-top: 1px solid gray;
  padding: 1rem 0rem;
}

.more-container,
.btc-container {
  border-bottom: 1px solid gray;
}

.result-details,
.result-amt {
  color: black;
}

.result-details {
  font-weight: normal;
}

.result-amt {
  font-weight: bold;
}

.more-container {
  border-top: 1px solid gray;
  text-align: left;
}

.more-header {
  font-weight: normal;
  text-align: left;
  color: black;
  margin: 0px 0px;
}
*/ ul {
  list-style: none;
  margin: 0.2rem;
}

ul li {
  display: inline;
}

.number {
  color: green;
}

.symbol {
  color: black;
}

.separator {
  color: blue;
}

.btc-container {
  border-top: 1px solid gray;
}

.btc-header {
  color: black;
}

.btc-ul {
  margin-bottom: 1rem;
  margin-left: 15vw;
}
.btc-li {
  display: block;
}
