<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css" />
    <title>currency converter</title>
  </head>
  <body>
    <h1 class='titles'><a href="/">currency/converter</a></h1>
    <h2 class="titles">check exchange rates, <span class=btc-span>bitcoin</span> included!!</h2>
    <div class="position-relative ms-4 me-4 mt-2">
        <div class="card">
            <div class="container">
                <form action="/convert" method="GET">
                    <div class="mb-3">
                        <label for="amount" class='form-label'>Amount</label>
                        <input type="number" class="form-control" name="amount" placeholder="$1.00" min="0" step="any"/>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="curr-list from" class='form-label'>from</label>
                        </div>
                        <div class="col">
                            <label for="curr-list to" class='form-label'>to</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <select class="form-select form-select" name="from-curr">
                                <option value="USD" selected>USD</option>
                                <option value="BTC">BTC</option>
                                <option value="GBP">GBP</option>
                                <option value="HKD">HKD</option>
                                <option value="IDR">IDR</option>
                                <option value="ILS">ILS</option>
                                <option value="DKK">DKK</option>
                                <option value="INR">INR</option>
                                <option value="CHF">CHF</option>
                                <option value="MXN">MXN</option>
                                <option value="CZK">CZK</option>
                                <option value="SGD">SGD</option>
                                <option value="THB">THB</option>
                                <option value="HRK">HRK</option>
                                <option value="EUR">EUR</option>
                                <option value="MYR">MYR</option>
                                <option value="NOK">NOK</option>
                                <option value="CNY">CNY</option>
                                <option value="BGN">BGN</option>
                                <option value="PHP">PHP</option>
                                <option value="PLN">PLN</option>
                                <option value="ZAR">ZAR</option>
                                <option value="CAD">CAD</option>
                                <option value="ISK">ISK</option>
                                <option value="BRL">BRL</option>
                                <option value="RON">RON</option>
                                <option value="NZD">NZD</option>
                                <option value="TRY">TRY</option>
                                <option value="JPY">JPY</option>
                                <option value="RUB">RUB</option>
                                <option value="KRW">KRW</option>
                                <option value="AUD">AUD</option>
                                <option value="HUF">HUF</option>
                                <option value="SEK">SEK</option>
                                <option value="XBT">XBT</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-select form-select" name="to-curr">
                                <option value="USD">USD</option>
                                <option value="BTC" selected>BTC</option>
                                <option value="GBP">GBP</option>
                                <option value="HKD">HKD</option>
                                <option value="IDR">IDR</option>
                                <option value="ILS">ILS</option>
                                <option value="DKK">DKK</option>
                                <option value="INR">INR</option>
                                <option value="CHF">CHF</option>
                                <option value="MXN">MXN</option>
                                <option value="CZK">CZK</option>
                                <option value="SGD">SGD</option>
                                <option value="THB">THB</option>
                                <option value="HRK">HRK</option>
                                <option value="EUR">EUR</option>
                                <option value="MYR">MYR</option>
                                <option value="NOK">NOK</option>
                                <option value="CNY">CNY</option>
                                <option value="BGN">BGN</option>
                                <option value="PHP">PHP</option>
                                <option value="PLN">PLN</option>
                                <option value="ZAR">ZAR</option>
                                <option value="CAD">CAD</option>
                                <option value="ISK">ISK</option>
                                <option value="BRL">BRL</option>
                                <option value="RON">RON</option>
                                <option value="NZD">NZD</option>
                                <option value="TRY">TRY</option>
                                <option value="JPY">JPY</option>
                                <option value="RUB">RUB</option>
                                <option value="KRW">KRW</option>
                                <option value="AUD">AUD</option>
                                <option value="HUF">HUF</option>
                                <option value="SEK">SEK</option>
                                <option value="XBT">XBT</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-grid gap-1">
                            <button type="submit" class="btn btn-primary">Convert</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="card-body">
                {% block result%} 
                {% endblock%}
            </div>
        </div>
    </div>


    
